:root {
  --dark-blue: #003366;
  --bright-green: #00CC99;
  --white: #FFFFFF;
  --light-gray: #CCCCCC;
  --black: #000000;
  --dark-bg: #121212;
  --dark-text: #E0E0E0;
  --light-bg: #FFFFFF;
  --light-text: #000000;
  --shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --border-radius: 10px;
}

body {
  background-color: var(--light-bg);
  color: var(--light-text);
  font-family: 'Roboto', sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

.App-header {
  background-color: var(--dark-blue);
  padding: 20px;
  text-align: center;
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
}

.App-header.dark-mode {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

h1 {
  font-size: 2rem;
  margin: 0;
}

.home-link {
  color: var(--white);
  text-decoration: none;
}

.home-link:hover {
  text-decoration: underline;
}

button {
  font-size: 1rem;
  padding: 10px 20px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: var(--bright-green);
  color: var(--black);
}

.container {
  padding: 20px;
}

.card {
  box-shadow: var(--shadow);
  border-radius: var(--border-radius);
  overflow: hidden;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 20px;
}

/* Dark mode styles */
.dark-mode .card {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

.dark-mode .card-title {
  color: var(--bright-green);
}

.dark-mode .card-text {
  color: var(--dark-text);
}

.dark-mode .btn-primary, .dark-mode .btn-secondary, .dark-mode .btn-success {
  background-color: var(--bright-green);
  color: var(--black);
}

.dark-mode .btn-primary:hover, .dark-mode .btn-secondary:hover, .dark-mode .btn-success:hover {
  background-color: var(--dark-blue);
  color: var(--white);
}