:root {
  --dark-blue: #003366;
  --bright-green: #00CC99;
  --white: #FFFFFF;
  --light-gray: #CCCCCC;
  --black: #000000;
}

body {
  background-color: var(--white);
  color: var(--black);
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: var(--dark-blue);
  padding: 20px;
  text-align: center;
  color: var(--white);
}

h1 {
  color: var(--bright-green);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: var(--light-gray);
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

li h2 {
  color: var(--dark-blue);
}

li p {
  color: var(--black);
}

li img {
  max-width: 100px;
  border: 2px solid var(--dark-blue);
  border-radius: 5px;
}