:root {
  --dark-blue: #003366;
  --bright-green: #00CC99;
  --white: #FFFFFF;
  --light-gray: #CCCCCC;
  --black: #000000;
}

body {
  background-color: var(--white);
  color: var(--black);
  font-family: Arial, sans-serif;
}

.App-header {
  background-color: var(--dark-blue);
  padding: 20px;
  text-align: center;
  color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth-buttons {
  display: flex;
  align-items: center;
}

.auth-buttons span {
  margin-right: 10px;
  color: var(--bright-green);
}

h1 {
  color: var(--bright-green);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: var(--light-gray);
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

li h2 {
  color: var(--dark-blue);
}

li p {
  color: var(--black);
}

li img {
  max-width: 100px;
  border: 2px solid var(--dark-blue);
  border-radius: 5px;
}

.App {
  text-align: center;
}

.container {
  margin-top: 20px;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  border-radius: 10px;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body {
  text-align: left;
}

.btn-primary, .btn-secondary {
  margin-right: 10px;
}

.btn-success {
  margin-top: 20px;
}